# Dependencies
node_modules/

# Environment files
.env

# Database
*.db

# Uploads
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Build output
dist/
dist-ssr/
